<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div id="cant-create-room-wrapper" class="d-flex align-content-md-center flex-wrap background h-100 cant-create-room-wrapper">
    <div class="container">
                <div class="row my-7">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="card card-profile h-100">
                            <div class="card-header bg-primary h-50"></div>
                            <div class="card-body text-center">
                                <% if current_user.image.blank? %>
                                    <span class="avatar avatar-xxxl card-profile-img bg-primary"><%= current_user.name.first %></span>
                                <% else %>
                                    <%= image_tag(current_user.image, class: "avatar avatar-xxxl card-profile-img") %>
                                <% end %>
                                <h2 class="mb-3"><%= current_user.name %></h2>
                                <%= link_to edit_user_path(current_user), class: "btn btn-outline-primary mt-2" do %>
                                    <i class="dropdown-icon fas fa-id-card mr-3"></i><%= t("room.no_room.edit_profile") %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <!-- BEGIN Direct link to FD Seminar room -->
                        <%= render "rooms/components/fd-seminar_direct_link"%>
                        <!-- END Direct link to FD Seminar room -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
